* {
    boxed-sized: border-box;
}

body {
    background: rgb(66, 170, 244)
}

section, canvas {
    padding: 30px;
    border: 2px solid red;
  }

header h1 {
    color: purple;
    font-family: 'Faster One', cursive;
    height: 50px;
    text-align: center;
    width: 50x;
    font-size: 30px;

}

li {
    display: inline-block;
   text-align: center;
   font-family: 'Gloria Hallelujah', cursive;
   color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue;
}


ul {
    font: Sans-serif;
    display: inline-block;
    text-decoration: underline;
    word-spacing: 3em;
    padding: 1em 0;
    margin: .5em auto 0;
    right: 20px;
    font-size: 150%;
  }


  ol {
    color: black;
    background-color: transparent;
    display: inline;


  }


#itemCount {
    text-shadow: 2px 2px #ff0000;

}


table, th, td {
    border: 1px solid black;
    text-align: center;
    word-spacing: 5em;
 }


 div, li {
     text-alight: center;
 }

 .deck col-1 {

{
  display:block;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:red;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:red;
  box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5);
  transition: all 0.3s ease;
 }